<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Bienes Raices</title>
</head>

<body>
    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="../index.html">
                    <img src="../img/logo.svg" alt="logo del sitio web">
                </a>

                <nav class="navegacion">
                    <a href="../views/nosotros.html">Nosotros</a>
                    <a href="../views/anuncios.html">Anuncios</a>
                    <a href="../views/blog.html">Blog</a>
                    <a href="../views/contacto.html">contacto</a>
                </nav>
                <!--barra-->
            </div>

            <!--contenedor-->
        </div>
    </header>

    <main class="contenedor seccion contenido-centrado">
        <h1 class="text-center fw-300">Nuestro Blog</h1>
        <article class="entrada-blog">
            <div class="imagen">
                <img src="../img/blog1.jpg" alt="entrada de blog">
            </div>
            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>Terraza en el techo de tu casa</h4>
                </a>
                <p>Escrito el: <span>20/10/2019</span> por :<span>Admin</span> </p>
                <p>Consejos para construir una terraza en el techo de tu casa, con los mejores materiales y ahorrando dinero</p>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <img src="../img/blog2.jpg" alt="entrada de blog">
            </div>
            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>construye una alberca en tu hogar</h4>
                </a>
                <p>Escrito el: <span>20/10/2019</span> por :<span>Admin</span> </p>
                <p>Maximiza en espacio en tu hogar con esta guia, aprende a combinar muebles y colores para darle vida a tu espacio</p>
            </div>
        </article>
        <article class="entrada-blog">
            <div class="imagen">
                <img src="../img/blog3.jpg" alt="entrada de blog">
            </div>
            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>Guia para la decoracion de tu hogar</h4>
                </a>
                <p>Escrito el: <span>20/10/2019</span> por :<span>Admin</span> </p>
                <p>Maximiza en espacio en tu hogar con esta guia, aprende a combinar muebles y colores para darle vida a tu espacio</p>
            </div>
        </article>
        <article class="entrada-blog">
            <div class="imagen">
                <img src="../img/blog4.jpg" alt="entrada de blog">
            </div>
            <div class="texto-entrada">
                <a href="entrada.html">
                    <h4>Guia para la decoracion de tu habitacion</h4>
                </a>
                <p>Escrito el: <span>20/10/2019</span> por :<span>Admin</span> </p>
                <p>Maximiza en espacio en tu hogar con esta guia, aprende a combinar muebles y colores para darle vida a tu espacio</p>
            </div>
        </article>
    </main>
    <footer class="site-footer seccion">
        <div class="contenedor-footer contenedor">
            <nav class="navegacion">
                <a href="../views/nosotros.html">Nosotros</a>
                <a href="./views/anuncios.html">Anuncios</a>
                <a href="./views/blog.html">Blog</a>
                <a href="./views/contacto.html">contacto</a>
            </nav>

            <p>Todos los derechos reservados &copy;</p>
        </div>
    </footer>
</body>

</html>