<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Bienes Raices</title>
</head>

<body>
    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="../index.html">
                    <img src="../img/logo.svg" alt="logo del sitio web">
                </a>

                <nav class="navegacion">
                    <a href="../views/nosotros.html">Nosotros</a>
                    <a href="../views/anuncios.html">Anuncios</a>
                    <a href="../views/blog.html">Blog</a>
                    <a href="../views/contacto.html">contacto</a>
                </nav>
                <!--barra-->
            </div>

            <!--contenedor-->
        </div>
    </header>
    <h1 class="text-center fw-300">Consejos para tener una alberca en tu casa sin gastar demasiado</h1>
    <img src="../img/destacada2.jpg" alt="imagen principal">
    <main class="contenedor seccion contenido-centrado texto-entrada">
        <p>Escrito el: <span>20/10/2019</span> por :<span>Admin</span> </p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ante sed nibh faucibus lobortis ac quis elit. Proin in pulvinar quam. Pellentesque ante nibh, cursus eu elit vitae, accumsan varius nibh. Nunc quis viverra ex. Mauris ut ultrices
            enim. Maecenas convallis tincidunt nibh, sed lacinia turpis aliquam et. Sed pulvinar velit sit amet tempor posuere. Aenean dignissim molestie ex, eget porttitor lectus egestas vestibulum. Nam dictum malesuada elit, ac ornare diam interdum
            nec. Sed vitae semper enim. Nunc feugiat erat non enim ultrices pretium. Quisque suscipit sodales sem, non porta lorem. Aenean rhoncus non diam aliquet egestas. Nullam condimentum augue elementum pretium suscipit. In malesuada dolor a purus
            blandit, id accumsan lacus aliquam. Phasellus vel velit eu elit malesuada ullamcorper. Duis eget pellentesque lacus. Aliquam dignissim enim sed elit pellentesque aliquet. Nullam a gravida velit. Donec eleifend non turpis at vulputate.</p>
        <p> consequat, nulla vitae mattis mattis, neque odio pulvinar mi, eu mattis tellus velit quis dui. Nullam mollis, lacus nec tincidunt porta, nunc ligula porta ligula, a condimentum diam lacus blandit lorem. Aenean eu condimentum dolor. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam vel aliquet nulla, ac mattis risus. Nulla facilisi. Phasellus efficitur, dui nec eleifend hendrerit, est odio tristique felis, vitae condimentum nisl tellus
            ut ligula. Donec ultricies odio diam, vel cursus nunc sagittis nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. In interdum vulputate dui, eu malesuada nunc cursus et. Sed ut ante vehicula, lobortis risus ac, rutrum lectus.</p>

    </main>
    <footer class="site-footer seccion">
        <div class="contenedor-footer contenedor">
            <nav class="navegacion">
                <a href="../views/nosotros.html">Nosotros</a>
                <a href="./views/anuncios.html">Anuncios</a>
                <a href="./views/blog.html">Blog</a>
                <a href="./views/contacto.html">contacto</a>
            </nav>

            <p>Todos los derechos reservados &copy;</p>
        </div>
    </footer>
</body>

</html>