html {
    /*10px === 1rem*/
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
}


/**GLOBALES**/

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}


/*header*/

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
}


/**navegacion**/

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.navegacion a:hover {
    color: #71b100;
}

.navegacion a:last-of-type {
    margin: 0;
}